* {
  outline: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

#app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.banner {
  margin-bottom: 4rem;
}

.banner__control {
  display: flex;
}

.banner__control > li {
  margin-right: 1rem;
}

.main {
  height: 100%;
}

.control-layout {
  display: flex;
  margin-bottom: 1.5rem;
}

.control-layout > input {
  margin-right: 2rem;
  height: 1.8rem;
}

/* -- Manager --  */

.product-table-title,
.product-manage-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  max-width: 40rem;
  min-height: 5rem;
  border: 1px solid black;
}

.product-manage-item {
  border-top: 0;
}

.product-table-title > span,
.product-manage-item > span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
}

.product-table-title > span:first-child,
.product-table-title > span:nth-child(2) {
  border-right: 1px solid black;
}

.product-manage-item > span {
  border-top: 0;
}

.product-manage-item > span:first-child,
.product-manage-item > span:nth-child(2) {
  border-right: 1px solid black;
}

/* -- Recharger -- */

.coin-status-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  max-width: 20rem;
  min-height: 5rem;
  border: 1px solid black;
}

.coin-status-table > span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
}

.coin-status-table > span:nth-child(odd) {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.coin-status-table > span:nth-child(9) {
  border-bottom: 0;
}

.coin-status-table > span:nth-child(even) {
  border-bottom: 1px solid black;
}

.coin-status-table > span:nth-child(10) {
  border: 0;
}

/* -- Seller -- */

.purchase-table-title,
.product-purchase-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  max-width: 40rem;
  min-height: 5rem;
  border: 1px solid black;
}

.product-purchase-item {
  border-top: 0;
}

.purchase-table-title > span,
.product-purchase-item > span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
}

.purchase-table-title > span:not(:last-child) {
  border-right: 1px solid black;
}

.product-purchase-item > span:not(:last-child) {
  border-right: 1px solid black;
}

#coin-return-button {
  height: 1.8rem;
  margin: 2rem 0 1rem 0;
}
